@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #f8f9f7;
  color: #1e293b;
}

.container-custom {
  max-width: 1280px;
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}
